# ОСНОВНОЕ
/vendor/
composer.lock
/node_modules/
public_html

# Файлы окружения и конфигурации
.env
.env.*
.env.local
.env.testing

# Ключи
/storage/*.key

# Кэш, логи и прочие временные файлы
/storage/*.log
/storage/logs/*
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*
/bootstrap/cache/*
/public/hot
/public/storage
/public/mix-manifest.json


